@import "../../styles/main.scss";

.todo {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  background: $surface;

  .todo__checkbox {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 1rem;
    border-style: solid;
    border-width: 1px;
    border-color: $onSurface;
    position: relative;
    cursor: pointer;
    svg {
      position: absolute;
      top: -10px;
      left: -5px;
    }
  }

  .todo__task {
    height: 100%;
    flex: 1;
  }

  .todo__delete {
    height: 100%;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    path {
      fill: $onSurface;
    }
  }
}
