@import "./styles/main.scss";

#main {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  background: black;
  min-width: 300px;

  @media #{$desktopOnly} {
    // padding: 10rem;
  }

  .todo-list {
    width: 100%;
    margin-top: 4rem;

    .todo-list__item {
      margin-bottom: 3rem;
    }
  }
}
