@import "normalize.css";
@import "./styles/main.scss";

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  transition: all 0.7s ease-in-out;
  background: white;

  h1 {
    color: $onPrimary;
    margin: 0;
    font-size: 7rem;
    letter-spacing: 0.25rem;
  }

  h2 {
    color: $onPrimary;
    margin: 0;
    font-size: 2rem;
    font-weight: normal;
  }

  input[type="text"] {
    margin: 0;
    font-size: 1.6rem;
    font-weight: normal;
    color: $onSurface;
  }

  *:focus {
    outline: none;
  }
}
